services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: auth-service
    container_name: auth-service
    command: npm run start:dev
    volumes:
      - ./:/app
    ports:
      - "3007:8080"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      DATABASE_URL: ${DATABASE_URL}
      NODE_ENV: ${NODE_ENV}
      PORT: 8080
    networks:
      - good-food

  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB:
    ports:
      - "5437:5432"
    volumes:
      - ./docker/data:/var/lib/postgresql
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost -p 5432",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - good-food

  nginx:
    image: nginx:1-alpine
    container_name: auth-nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "8087:80"
    depends_on:
      - auth-service
    networks:
      - good-food
networks:
  good-food:
    external: true
