apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      imagePullSecrets:
        - name: scw-registry-secret
      containers:
        - name: auth-service
          image: rg.fr-par.scw.cloud/good-food-container-registry/auth-service:de003a2d292f5ae2e054a54c887a3c4cdfd07fb2
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: '128Mi'
              cpu: '50m'
            limits:
              memory: '256Mi'
              cpu: '200m'
          envFrom:
            - configMapRef:
                name: auth-service-config
            - secretRef:
                name: auth-service-db-secret
            - secretRef:
                name: good-food-jwt-secret
            - secretRef:
                name: rabbitmq-secret
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
