name: CI

on:
  push:

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - run: npm i
      - run: npm run build
      - uses: actions/cache/save@v3
        with:
          path: |
            ~/.npm
            node_modules
            ${{ github.workspace }}/.nest
            package-lock.json
          key: ${{ runner.os }}-node-${{ github.sha }}

  lint:
    needs: [install]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - uses: actions/cache/restore@v3
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - uses: actions/cache/restore@v3
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next
          key: ${{ runner.os }}-node-${{ github.sha }}
      - run: npm run lint
