name: Security

on:
  push:
  schedule:
    - cron: '0 * * * *'
jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: github/codeql-action/init@v3
        with:
          languages: 'javascript'
          build-mode: manual
      - uses: github/codeql-action/analyze@v3

  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
